:root {
    --text-cl: #eb2527 !important;
    --white-cl: #fff !important;
    --black-cl: #000 !important;
}

.text {
    color: var(--text-cl);
    font-weight: 500 !important;
    border: none !important;
}

.arear-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    position: relative;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    border: 1px solid transparent;
    width: 361px;
}

.search:focus-within {
    border-color: #c5c6c9;
}

.search::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: rgba(22, 24, 35, 0.12);
    top: 9px;
    right: 52px;
}

.input-search {
    flex: 1;
    padding-right: 10px;
    height: 100%;
    caret-color: var(--text-cl);
    background-color: transparent;
    border: none;
}

.input-search:focus {
    outline: none;
}

.input-search:active {
    border: none;
}

.search-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    border: none;
}

.search-btn:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
}

.btn-cart {
    border: none !important;
}

.icon-cart {
    color: rgba(22, 24, 35, 0.34) !important;
}

.wrap {
    position: absolute;
    width: 25rem;
    top: 30px;
    right: 20px;
    background: var(--white-cl);
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    animation: fadeIn .2s ease-in;
    display: none;
}

.wrap.show {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(2);
    }
}

.container{
    text-align: center;
    padding: 3.75rem 0;
}

.img-no-cart {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
}

.text-des {
    margin-top: 12px;
}
